<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Chatroom.css') }}">
</head>
</head>
<body>
<h1><i> Welcome to the login</i></h1>
    <form method='GET'>
        Register a Username and your Password:
        <input type='text' name='nnam' id='nnam'></input>
        <input type='text' name='npsw' id='npsw'></input>
        <input type='submit' name='btnnum' id='btnnum'></input>
  </form>
   <form method='GET'>
        Enter a Username and your Password:
        <input type='text' name='nam' id='nam'></input>
        <input type='text' name='psw' id='psw'></input>
        <input type='submit' name='btnnum' id='btnnum'></input>
  </form>
</body>
</html>